<app-card title="INFORMACIÓN">
  <div class="row">
    <div class="col-md-6">
      <div  style="text-align: center">
        <h4 class="sub-title">¿Qué puedes encontrar?</h4>
      </div>
      <ul type="1">
        <li>Creación y edición de usuarios.</li>
        <li>Creación de facturas y tarifas por usuario.</li>
        <li>Generación de facturas.</li>
        <li>Cargue de facturas mensual.</li>
        <li>Cobro de facturas.</li>
      </ul>
      <hr/>
      <label style="color: #88868682">Desarrollador:<strong> Nelson Andres Guerrero Moncada</strong></label><br/>
      <label style="color: #88868682">Correo de soporte:<strong> pixelprogramer1@gmail.com</strong></label><br/>
      <label style="color: #88868682">Numero de contacto:<strong> 3137023937</strong></label>
    </div>
    <div class="col-md-6" style="text-align: center">
      <h4 class="sub-title" style="color: #0a6aa1">ASUACOR</h4>
      <img style="width: 65%" src="./assets/images/bg.PNG"/>
    </div>
  </div>
</app-card>
