<div style="position: absolute;
    z-index: 1000000000;
    width: 100%;
    height: 100%;
    background: #f3f3f382;
    text-align: center;" id="loader" *ngIf="loader!=0">
  <div>
    <img style="
    width: 18%;
    height: 50%;
    margin-top: 13%;" src="./assets/images/logo_loader.gif"/>
  </div>
</div>
<ng2-toasty [position]="position"></ng2-toasty>
<app-card title="Cargar factura de cobro de mes">
  <div class="row">
    <div class="col-md-12" style="text-align: center">
      <h4 class="sub-title">Seleccione una fecha</h4>
      <ngb-datepicker #dp [(ngModel)]="model" ></ngb-datepicker>
      <pre>Cargar facturas del mes : {{ parserFormatter.format(model) }}</pre>
      <button class="btn btnPropio" style="width: 100%" id="btnGenerarReporte" (click)="cargarFactura()">Cargar facturas en la fecha: {{parserFormatter.format(model)}}
      </button>
    </div>
  </div>
</app-card>
