<ng2-toasty [position]="position"></ng2-toasty>
<app-card title="Generar facturas" style="height: 100%">
  <div class="row">
    <div class="col-md-12">
      <h4 class="sub-title">Ramal</h4>
      <select class="form-control" style="width: 100%"
              [ngStyle]="{'border': id_ramal == 'todo' ? 'red solid 1px' : '#577928 solid 1px'}"
              [(ngModel)]="id_ramal">
        <option value="todo">Todos los ramales</option>
        <option *ngFor="let ramal of listRamales" value="{{ramal.id_ramal_factura}}">
          {{ramal.descripcion_ramal_factura}}
        </option>
      </select>
    </div>
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
      <button class="btn btnPropio" style="width: 100%" (click)="generarFacturas()">Generar facturas</button>
    </div>
  </div>
  <div class="row" style="margin-top: 15px">
    <div class="col-md-12">
      <h4 class="sub-title">Visualizador de facturas</h4>
      <div id="seccioPdf">

      </div>
    </div>
  </div>
</app-card>
