<div style="position: absolute;
    z-index: 1000000000;
    width: 100%;
    height: 100%;
    background: #f3f3f382;
    text-align: center;" id="loader" *ngIf="loader!=0">
  <div>
    <img style="
    width: 18%;
    height: 50%;
    margin-top: 13%;" src="./assets/images/logo_loader.gif"/>
  </div>
</div>
<ng2-toasty [position]="position"></ng2-toasty>
<app-card title="Nuevos Ramales">
  <div class="row">
    <div class="col-md-12">
      <input class="form-control" #descripcionRamal="ngModel" [(ngModel)]="objRamalFactura.descripcion_ramal_factura"
             placeholder="Descripcion del ramal">
    </div>
  </div>
  <div class="row" style="margin-top: 10px">
    <div class="col-md-12">
      <button class="btn btnPropio" style="width: 100%" (click)="cargarRamales()">Crear</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btnPropio" style="width: 100%; margin-top: 10px" (click)="actualizarRamales()">Actualizar
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="dataTables_scrollBody"
           style="position: relative; overflow: auto; max-height: 400px; width: 100%; margin-top: 10px">
        <table class="table table-striped table-bordered nowrap dataTable" role="grid"
               aria-describedby="scr-vrt-dt_info" style="width: 100%;">
          <thead>
          <tr role="row" style="height: 0px;">
            <th style="width: 144.45px;">
              Ramal
            </th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let ramal of listRamales" role="row" class="odd Tablas filaTabla"
              (click)="seleccionarRamal(ramal)">
            <td>{{ramal.descripcion_ramal_factura}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</app-card>
